# MongoDB Aggregate and Group

1. avg
2. sum
3. project

In [1]:
from pymongo import MongoClient

In [3]:
# creation of  object MongoClient
client = MongoClient()

# Connect with portnumber and host
client = MongoClient("mongodb://localhost:27017/")

# Access database
mydatabase = client['Student']

# Access collection of the database 
collection = mydatabase['studentscore']

data = [
     {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}
]

collection.insert_many(data)

In [7]:
## finding Amit and Krish total subjects

agg_result = collection.aggregate([
    {
        "$group" :
        {"_id" : "$user",
        "Total Subject" : {"$sum" : 1}}
    }
])

In [8]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [10]:
# Calculating total score based on user

agg_result = collection.aggregate([
    {
        "$group":
        {"_id" : "$user", 
        "Total Marks" : {"$sum" : "$score"}}
    }
])

In [11]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [16]:
# Calculating average score based on user 

agg_result = collection.aggregate([
    {
        "$group": {
        "_id" : "$user", 
        "StudentAverageScore": {
            "$avg" : "$score"
            }
        }
    }
])

for i in agg_result:
    print(i)

{'_id': 'Krish', 'StudentAverageScore': 83.33333333333333}
{'_id': 'Amit', 'StudentAverageScore': 78.33333333333333}

In [19]:
import datetime as datetime

In [20]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [21]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2023, 6, 13, 11, 6, 40, 549906)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2023, 6, 13, 11, 6, 40, 549906)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2023, 6, 13, 11, 6, 40, 549906)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2023, 6, 13, 11, 6, 40, 549906)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2023, 6, 13, 11, 6, 40, 549906)}]

In [22]:
mycollection = mydatabase['Stores']
mycollection.insert_many(data)

In [24]:
# Calculating the average quantity and Average price

agg_result = mycollection.aggregate([
    {
        "$group" : {
            "_id" : '$item', 
            "AvgAmount" : {"$avg" : {"$multiply" : ["$price", "$quantity"]}},
            "AvgQuantity" : {"$avg" : "$quantity"}
        }
    }
])

In [25]:
for i in agg_result:
    print(i)

{'_id': 'abc', 'AvgAmount': 60.0, 'AvgQuantity': 6.0}
{'_id': 'xyz', 'AvgAmount': 37.5, 'AvgQuantity': 7.5}
{'_id': 'jkl', 'AvgAmount': 20.0, 'AvgQuantity': 1.0}

In [26]:
## $project


data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [27]:
# Access collection of the database
collection = mydatabase['Books']

In [28]:
collection.insert_many(data)

In [31]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}