In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
mydb = client['Employee']

In [13]:
empinfo = mydb.employeeinformation

In [14]:
record={
        'firstname':'Sanjeev',
        'lastname':'Rana',
        'department':'Analytics',
        'qualification':'Bcom',
        'age':32
        }
empinfo.insert_one(record)

In [15]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [16]:
empinfo.insert_many(records)

In [17]:
## Simple query

empinfo.find_one()

{'_id': ObjectId('64868d8b14fda3815f418bca'),
 'firstname': 'Sanjeev',
 'lastname': 'Rana',
 'department': 'Analytics',
 'qualification': 'Bcom',
 'age': 32}

In [22]:
for record in empinfo.find():
    print(record) ## It's same as select * from employeeinformation

{'_id': ObjectId('64868d8b14fda3815f418bca'), 'firstname': 'Sanjeev', 'lastname': 'Rana', 'department': 'Analytics', 'qualification': 'Bcom', 'age': 32}
{'_id': ObjectId('64868e0614fda3815f418bcb'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('64868e0614fda3815f418bcc'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('64868e0614fda3815f418bcd'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('64868e0614fda3815f418bce'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [24]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where age=32

for record in empinfo.find({'age':32}):
    print(record)

{'_id': ObjectId('64868d8b14fda3815f418bca'), 'firstname': 'Sanjeev', 'lastname': 'Rana', 'department': 'Analytics', 'qualification': 'Bcom', 'age': 32}
{'_id': ObjectId('64868e0614fda3815f418bce'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [26]:
## Query documents using query operators($in,$lt,$gt)
#    $in == where in ()
#    $lt == lessthan
#    %gt = greater than
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('64868e0614fda3815f418bcd'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('64868e0614fda3815f418bce'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [27]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('64868e0614fda3815f418bce'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [31]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('64868e0614fda3815f418bce'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [35]:
## Adding a new collection
inventory=mydb.inventory

In [36]:

inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [37]:
# Quering a sub-category

for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('6486f99914fda3815f418bd9'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}